# Gradle
.gradle
/conventions/.gradle

# Intellij & AndroidStudio files
.fleet
.kotlin
.idea

# Build
**/build/**

# Properties
local.properties
/local.properties

# Configs
**/smile_config.json

# Mac Specific Files
.DS_Store

# Apk
*.apk

# App Bundle
*.aab

# Other Folders
/captures
*.xcodeproj/*
xcuserdata

# Other Files
*.iml
.externalNativeBuild
.cxx